services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mark1234
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
      # Раскомментируйте следующую строку, если у вас есть файл dump.sql для инициализации БД:
      # - ./dump.sql:/docker-entrypoint-initdb.d/dump.sql
    ports:
      - "5433:5432"

  backend:
    build:
      context: ./backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:mark1234@db:5432/mydb
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=
    restart: always
    ports:
      - "5174:80"
    depends_on:
      - backend

volumes:
  pgdata:
